@import "./variables";

@media screen and (max-device-width: 1050px) {
  .text {
    font-size: 32px !important;
  }
  hr {
    margin: 1rem 0;
  }
  .workList_container {
    height: 255em !important;
  }
  .project_container {
    flex-direction: column-reverse !important;
    height: 600px !important;
    img {
      height: 100% !important;
    }
    .project_content_inner {
      left: 110px;
    }
  }
  .workList_container_inner {
    width: 600px !important;
  }
  .content_container {
    height: 110em !important;
    .content_box {
      width: 600px !important;
      height: 80% !important;
      .content_about {
        h4 {
          font-size: 26px !important;
          margin-bottom: 1rem !important;
        }
        p {
          font-size: 16px !important;
        }
      }
      .content_skills {
        height: 450px !important;
        h4 {
          font-size: 24px !important;
          margin-bottom: 0px !important;
        }
        h5 {
          font-size: 20px !important;
        }
      }
    }
  }
}

@media screen and (max-device-width: 620px) {
  .image_desc {
    font-size: 11px !important;
    width: 80% !important;
    line-height: 20px !important;
    font-weight: 400 !important;
  }
  .footer ul {
    flex-direction: column !important;
    margin: 1rem 0 !important;
  }
  .text {
    font-size: 24px !important;
  }
  .inner_hero {
    height: 120px !important;
    width: 310px !important;
    .inner_hero_container {
      img {
        width: 230px !important;
      }
      .inner_hero_line {
        h1 {
          font-size: 35px !important;
        }
        h2 {
          font-size: 10px !important;
        }
      }
    }
    section {
      a,
      span {
        font-size: 9px !important;
      }
    }
  }
  .header_anchors {
    display: none !important;
  }
  .workList_container_heading {
    h4 {
      font-size: 12px !important;
    }
    h3 {
      font-size: 26px !important;
    }
  }
  .show {
    @include flex-custom(column, center, center);
    padding: 0;
    z-index: -10 !important;
    width: 100%;
    height: 150px;
    position: absolute;
    left: 0;
    background-color: $dark-black;
    top: 3rem;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 13px;
    animation: show 0.4s ease-in-out;
    li {
      width: 100%;
      padding: 0.5rem 0;
      margin: 5px 0;
      text-align: center;
      &:hover {
        background-color: $brand-color;
      }
    }
    a {
      font-size: 16px;
      text-decoration: none;
      color: $color-white;
    }
  }
  .hamburger {
    display: block !important;
  }
  .project_container {
    flex-direction: column-reverse !important;
    height: 600px !important;
    .project_content {
      @include flex-custom(column, center, center);
      .project_content_inner {
        position: unset !important;
        right: unset !important;
        bottom: unset !important;
        h4::before {
          display: none !important;
        }
      }
    }
    img {
      height: 100% !important;
      width: 400px !important;
    }
  }
  .workList_container_inner {
    width: 100% !important;
  }
  .content_container {
    height: 140em !important;
    .content_box {
      width: 300px !important;
      height: 80% !important;
      .content_about {
        h4 {
          font-size: 22px !important;
          margin-bottom: 1rem !important;
        }
        p {
          font-size: 14px !important;
        }
      }
      .content_skills {
        height: 430px !important;
        p {
          font-size: 14px !important;
        }
        h4 {
          font-size: 22px !important;
          margin-bottom: 0px !important;
        }
        h5 {
          font-size: 15px !important;
        }
        ul section {
          font-size: 14px !important;
          p {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}

@media screen and (max-device-width: 430px) {
  .image_desc {
    font-size: 9px !important;
    width: 85% !important;
    line-height: 15px !important;
  }
  .text {
    font-size: 26px !important;
  }
  .hero {
    height: 85vh !important;
  }
  .content_container {
    height: 100em !important;
  }
  .workList_container {
    height: 220em !important;
    .workList_container_inner {
      position: relative !important;
      bottom: 20rem !important;
      justify-content: flex-end !important;
    }
    .workList_container_projects {
      height: 81% !important;
    }
  }
  .project_container {
    height: 550px !important;
    width: 330px !important;
    .project_content {
      height: 56% !important;
      justify-content: flex-end !important;
    }
    img {
      width: 330px !important;
    }
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
